.card-container {
    width: 300px;
    min-height: 400px;
    position: relative;
    perspective: 800px;
    float: left;
    margin: 2em 1em;
}
.note-card {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    color: white;
    padding: 0.5em 0.5em;
}
.note-card:hover .front {
    transform: rotateY(-180deg);
}
.note-card:hover .back {
    transform: rotateY(0deg);
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.5s;
    padding: 1em 1em;
    border-radius: 15%;
    border-color: #6D4C41;
}
.face.front {
    background: #F05F40;
    transform: rotateY(0deg);
    padding: 2em 2em;
}
.face.back {
    display: block;
    box-sizing: border-box;
    padding: 2em 2em;
    color: white;
    text-align: left;
    background-color: #6D4C41;
    transform: rotateY(180deg);
}
.deck-button {
    margin: 1em 2em;
    min-width: 20%;
    background-color: #5D4037;
    border-radius: 10%;
    color: white;
}
.deck-button:hover {
    background-color: #6D4C41;
    border-radius: 20%;
}